@import "../../mixin.scss";
.technology {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	min-height: 100vh;
	padding-bottom: 5rem;
	background: url(../../assets/backgrounds/background-technology-desktop.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}